<div class="recipe-edit">
  <div class="container">
    <h1> Wyślij do nas wiadomość</h1>
    <%= simple_form_for @contact, :html => {:class => "form-horizontal"} do |f| %>
        <%= f.input :name, :placeholder => 'np. imie i nazwisko', :required => true %>
        <%= f.input :email, :placeholder => 'np. nazwa@nazwa.com', :required => true %>
        <%= f.input :message, :placeholder => 'np. swietne przepisy oby tak dalej!',:as => :text, :required => true %>
        <div class="hidden">
          <%= f.input :nickname, :hint => "zostaw to pole puste" %>
        </div>
        <%= f.button :submit, "Wyślij wiadomość", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

